@import "./bootstrap-reboot.css";

@font-face {
    font-family: 'Monoton-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Monoton-Regular'), local('Monoton-Regular'),
    url('/website-commons/fonts/Monoton-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'Orbitron-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Orbitron-Regular'), local('Orbitron-Regular'),
    url('/website-commons/fonts/Orbitron-Regular.woff2') format('woff2')
}

/* Latest emoji font
@font-face {*/
/*    font-family: 'Noto Color Emoji', sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: local('Noto Color Emoji'), local('Noto Color Emoji'),*/
/*    url('/website-commons/fonts/NotoColor/NotoColorEmoji-Regular.ttf') format('ttf')*/
/*}*/

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /*--bs-body-font-family: 'Noto Color Emoji'*/
    /*font-family:  'Orbitron-Regular', monospace;*/
}

dialog {
    border-color: darkmagenta;
    position: fixed;
    inset: 0;
    border-radius: 6px;
    color: white;
    background: black;
}

h1, h2 {
    font-family: 'Monoton-Regular', monospace;
    font-weight: normal;
}

p {
    /*font-family:  'Orbitron-Regular', monospace;*/
}

#main-section {
    margin: 0;
    padding: 0;

    min-height: calc(100vh - 3px);
    display: grid;
    grid-template-areas: ". header ."
                         ". subheader ."
                         " . glyph . "
                         "motivation motivation motivation";
    grid-template-rows: auto auto  minmax(360px, 1fr) auto;
    justify-content: center;
    /* touch-action: none; */

    background-size: 400vw 200vh;
    background-image: repeating-linear-gradient(135deg, #ff69b4, #00ffef);
    background-position: 0vw 0vh;
    animation: diagonal alternate 25s infinite;
    background-repeat: no-repeat;
}

#glyph {
    grid-area: glyph;
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 360px;
    min-height: 360px;
}

#glyph:after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-66.6%, -50%);
    font-size: 69px;
    z-index: 69;
    content: "";
    background: -o-radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(14, 66, 119, 1) 41%, rgba(204, 82, 255, 1) 87%);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(14, 66, 119, 1) 41%, rgba(204, 82, 255, 1) 87%);
    -webkit-mask-image: url(/website-commons/media/unicorn.svg);
    mask-image: url(/website-commons/media/unicorn.svg);
    width: 200px;
    height: 200px;
    mask-repeat: round;
    -webkit-mask-repeat: round;
    /* margin-left: -60px; */
    background-size: 800% 200%;
    -webkit-animation: gradient2 50s linear infinite;
    animation: gradient2 50s linear infinite;
}

#glyph:before {
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-filter: none !important;
    filter: none !important;
    z-index: 0;
    -webkit-animation: glow 10s linear infinite;
    animation: glow 10s linear infinite;
    -webkit-box-shadow: inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
    box-shadow: inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}

#header h1 {
    padding: 16px 0 0 0;
    color: #e5ffff;
    font-size: 3rem;
    text-shadow: none;
    -webkit-animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.030, 0.515, 0.955);
    animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: 'Monoton-Regular', monospace;
    color: white;
    text-align: center;
    margin: 0;
    line-height: 1;
}
#subheader {
    grid-area: subheader;
    text-align: right;
}
#subheader p, #subheader a {
    font-family: 'Orbitron-Regular', monospace;
    color: white;
    margin: 0;
    font-size: 0.8rem;
}

@media (min-width: 960px) {
    #header h1 {
        font-size: 6rem;
    }

    #subheader p, #subheader a {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    #header h1 {
        font-size: 8rem;
    }
}





@keyframes diagonal {
    0% {
        background-position: 0vw 0vh;
    }
    100% {
        background-position: -200vw 0vh;
    }
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}


#motivation {
    grid-area: motivation;
    padding: 16px 16px;
}

#quote {
    grid-area: quote;
    font-size: 1rem;
    font-family: 'Orbitron-Regular', monospace;
    color: white;
    text-align: justify;
    opacity: 0;
    transition-delay: 1s;

}

#author {
    grid-area: author;
    font-size: 0.8rem;
    font-family: monospace;
    color: #72006a;
    text-align: end;
    opacity: 0;
    transition-delay: 3s;
}

#music {
    height: 300px;
}

#footer {
    background: #070809;
}

.fade-in {
    opacity: 1 !important;
    transition: opacity 2s;
}

.fade-out {
    opacity: 0 !important;
    transition: opacity 2s;
}

.fade-in-05 {
    opacity: 0.5 !important;
    transition: opacity 1s;
}

#header {
    grid-area: header;

}


#header p {
    text-align: right;
    margin-top: -16px;
}

#header p {

}

#header a {
    color: white;
}

.img {
    max-width: 100%;
}


.rick {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -360px;
    -webkit-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
    z-index: 68;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.icon-small {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.res-o {
    position: absolute;
    right: -42px;
    top: -44px;
    transform: rotate(90deg);
    width: 90px;
    font-family: monospace;
    color: white;
    font-size: 15px;
}


.res-o a {
    color: white;
    text-decoration: none;
}

.insta {
    position: absolute;
    z-index: 20;
    top: 15%;
    right: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.insta_icon {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(../media/instagram-logo-thin.svg);
    background-size: contain;
}

@media (min-width: 666px) {
    h1 {
        font-size: 80px;
        text-shadow: none;
        -webkit-animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.030, 0.515, 0.955);
        animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.030, 0.515, 0.955);
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    p {
        font-size: 20px;
    }

    .header p {
        margin-top: -20px !important;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    .motivation-text {
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    #motivationQuote {
        font-size: 2rem;
        font-family: 'Orbitron-Regular', monospace;
        color: white;
        text-align: justify;
        opacity: 0;
        transition-delay: 1s;
    }

    #motivationAuthor {
        font-size: 1.2rem;
        font-family: monospace;
        color: #72006a;
        text-align: end;
        opacity: 0;
        transition-delay: 3s;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    .music-player__container {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        width: 40px;
        flex-direction: column;
        height: 140px;
        opacity: 0;
        align-items: center;
    }

    .icon {
        width: 25px;
        height: 25px;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    .icon-small {
        width: 15px;
        height: 15px;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    .icon__effects:hover {
        border-radius: 50%;
        border: 4px solid black;
        transform: scale(1.2);
    }

    .res-o {
        position: absolute;
        right: -110px;
        top: 100px;
        transform: rotate(90deg);
        width: 200px;
        font-family: monospace;
        color: white;
        font-size: 12px;
    }

    .insta {
        width: 45px;
        height: 45px;
        cursor: pointer;
        top: 94%;
        left: 1%;
    }
}

@-webkit-keyframes rotation {
    0% {
        border-top: 3px solid #00ffef;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        border-top: 3px solid #80b3d1;
    }
    50% {
        border-top: 3px solid #ff69b4;
    }
    75% {
        border-top: 3px solid #80b3d1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-top: 3px solid #00ffef;
    }
}

@keyframes rotation {
    0% {
        border-top: 3px solid #00ffef;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        border-top: 3px solid #80b3d1;
    }
    50% {
        border-top: 3px solid #ff69b4;
    }
    75% {
        border-top: 3px solid #80b3d1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-top: 3px solid #00ffef;
    }
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@-webkit-keyframes gradient2 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes gradient2 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(0.5);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(1);
        transform: rotate(180deg) scale(1.5);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(0.5);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(0.5);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(1);
        transform: rotate(180deg) scale(1.5);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(0.5);
    }
}

@-webkit-keyframes glow {
    0% {
        opacity: 0.5;
        -webkit-transform: translate(-50%, -50%) scale(0.7) rotate(0deg);

    }
    50% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1.5) rotate(180deg);
    }
    100% {
        opacity: 0.5;
        -webkit-transform: translate(-50%, -50%) scale(0.7) rotate(360deg);
    }
}

@keyframes glow {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.7) rotate(0deg);

    }
    50% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.5) rotate(180deg);
    }
    100% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.7) rotate(360deg);
    }
}

@-webkit-keyframes neonGlow {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, .8),
        0 0 20px rgba(255, 255, 255, .8),
        0 0 22px rgba(255, 255, 255, .8),
        0 0 40px rgba(66, 220, 219, .8),
        0 0 60px rgba(66, 220, 219, .8),
        0 0 80px rgba(66, 220, 219, .5),
        0 0 100px rgba(66, 220, 219, .5),
        0 0 140px rgba(66, 220, 219, .5),
        0 0 200px rgba(66, 220, 219, .5);
    }
    100% {
        text-shadow: 0 0 2px rgba(255, 255, 255, .8),
        0 0 8px rgba(255, 255, 255, .8),
        0 0 10px rgba(255, 255, 255, .8),
        0 0 20px rgba(66, 220, 219, .8),
        0 0 30px rgba(66, 220, 219, .8),
        0 0 40px rgba(66, 220, 219, .8),
        0 0 50px rgba(66, 220, 219, .5),
        0 0 80px rgba(66, 220, 219, .5);
    }
}

@keyframes neonGlow {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, .8),
        0 0 20px rgba(255, 255, 255, .8),
        0 0 22px rgba(255, 255, 255, .8),
        0 0 40px rgba(66, 220, 219, .8),
        0 0 60px rgba(66, 220, 219, .8),
        0 0 80px rgba(66, 220, 219, .5),
        0 0 100px rgba(66, 220, 219, .5),
        0 0 140px rgba(66, 220, 219, .5),
        0 0 200px rgba(66, 220, 219, .5);
    }
    100% {
        text-shadow: 0 0 2px rgba(255, 255, 255, .8),
        0 0 8px rgba(255, 255, 255, .8),
        0 0 10px rgba(255, 255, 255, .8),
        0 0 20px rgba(66, 220, 219, .8),
        0 0 30px rgba(66, 220, 219, .8),
        0 0 40px rgba(66, 220, 219, .8),
        0 0 50px rgba(66, 220, 219, .5),
        0 0 80px rgba(66, 220, 219, .5);
    }
}

.vibration {
    transition: filter 0.01s;
}

.vibration:hover {
    filter: blur(3px);
    animation: vibrate 50ms linear infinite forwards;
}

@keyframes vibrate {
    0% {
        transform: translateX(-1px) translateY(1px);
    }
    100% {
        transform: translateX(1px) translateY(-2px);
    }
}

section {
    padding: 16px;
    overflow: hidden;
}

@media (prefers-reduced-motion) {

}
