.input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea.input_text {
    height: 62px;
    resize: none;
    margin-bottom: 20px;
}

.input_text {
    font-family: 'Orbitron-Regular';
    background: #ffffff42;
    border: none;
    border-radius: 5px 0 5px 0;
    color: white;
    width: 333px;
    height: 33px;
    border-bottom: aliceblue solid 2px;
    outline: none;
    padding: 8px 10px 4px 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}



#linkCopied {
    display: none;
    text-align: center;
    font-size: 15px;
    font-family: 'Orbitron-Regular';
    color: #ffffff;
    background: rgba(253, 170, 216, 0.68);
    border-radius: 5px 5px 0 0;
    z-index: -1;
    width: 100px;
}

.show_link_copied {
    display: block !important;
    height: 0;
    padding: 0;
    -webkit-animation: showNotification 1s linear;
    animation: showNotification 1s linear;
}

#createLink {
    font-family: 'Orbitron-Regular';
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: transparent solid 2px;
    border-bottom: aliceblue solid 2px;
    border-radius: 5px;
    height: 40px;
    padding: 5px;
    outline: none;
    width: 353px;
    cursor: pointer;
    max-width: calc(100% + 20px);
    background-size: 300%;
    background-image: linear-gradient(45deg, rgba(0, 222, 230, 0.63), rgba(246, 32, 253, 0.6));
    -webkit-animation: translateXBackground 15s linear infinite;
    animation: translateXBackground 6s linear infinite;
}

#createLink:hover {
    background-image: linear-gradient(45deg, rgba(44, 3, 119, 0.63), rgba(107, 255, 211, 0.6));
}

#createLink:focus {
    background-image: linear-gradient(45deg, rgba(44, 3, 119, 0.63), rgba(107, 255, 211, 0.6));
}

.input_text::placeholder {
    opacity: 0.5;
    font-size: 20px;
    font-family: 'Orbitron-Regular';
    font-weight: bold;
    background: linear-gradient(90deg, #ff0f95, #0378b9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input_text:focus {
    border: none;
    outline: none;
    background-size: 300%;
    background-image: linear-gradient(45deg, rgba(0, 222, 230, 0.63), rgba(246, 32, 253, 0.6));
    -webkit-animation: translateXBackground 15s linear infinite;
    animation: translateXBackground 15s linear infinite;
    border-bottom: transparent solid 2px;
}

@keyframes translateXBackground {
    0% {
        background-position-x: 10%;
    }
    50% {
        background-position-x: 90%;
    }
    100% {
        background-position-x: 10%;
    }
}

@keyframes translateXBackground {
    0% {
        background-position-x: 10%;
    }
    50% {
        background-position-x: 90%;
    }
    100% {
        background-position-x: 10%;
    }
}

@keyframes showNotification {
    0% {
        transform:translateY(20px);
    }
    20% {
        transform:translateY(0);
        padding: 5px 0 5px 0;
        height:15px;
    }
    80% {
        transform:translateY(0);
        padding: 5px 0 5px 0;
        height:15px;
    }
    100% {
        transform:translateY(20px);
    }
}

@-webkit-keyframes showNotification {
    0% {
        transform:translateY(20px);
    }
    20% {
        transform:translateY(0);
        padding: 5px 0 5px 0;
        height:15px;
    }
    80% {
        transform:translateY(0);
        padding: 5px 0 5px 0;
        height:15px;
    }
    100% {
        transform:translateY(20px);
    }
}