.header_centered {
    top: 40%;
    max-width: 80%;
}

.header_centered h1 {
    font-size:8vW;
    font-family: "Arial Black";
}

.header_centered p {
    font-size:40px;
    text-align: center !important;
}

.secret {
    font-size:30px !important;
    opacity: 0;
}

.fade-in-slow {
    opacity: 1 !important;
    transition: opacity 3s;
    transition-delay: 3s;
}
