body {
	background: linear-gradient(-45deg, #ff69b4, #00ffef);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
	overflow: hidden;
}

 .uni-box {
     height: 100%;
     padding: 0;
     margin: 0;
     display: flex;
     align-items: center;
     justify-content: center;
}
 .uni {
     z-index:69;
     font-size: 69px;
     cursor: pointer;
}
 .uni:before {
     z-index:69;
     content: "";
     width: 120px;
     height: 120px;
     border-radius: 50%;
     display: block;
     border-top: 3px solid #00ffef;
     border-right: 3px solid transparent;
     box-sizing: border-box;
     animation: rotation 3s linear infinite;
     position: absolute;
     margin-left: -18px;
     margin-top: -2px;
}

.rick {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -360px;
    animation: spin 20s linear infinite;
}

.hidden {
    display:none;
}

.stop-audio {
    z-index:69;
    font-size: 30px;
    font-family: monospace;
    color: white;
    position: absolute;
    height: 30px;
    width: 169px;
    cursor: pointer;
    margin-top: 169px;
}

 @keyframes rotation {
     0% {
         border-top: 3px solid #00ffef;
         transform: rotate(0deg);
    }
     25% {
         border-top: 3px solid #80b3d1;
    }
     50%{
         border-top: 3px solid #ff69b4;
    }
     75% {
         border-top: 3px solid #80b3d1;
    }
     100% {
         transform: rotate(360deg);
         border-top: 3px solid #00ffef;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes spin {
    0% {
        -webkit-transform:rotate(0deg) scale(1);
        transform:rotate(0deg) scale(0.5);
    }
    50% {
        -webkit-transform:rotate(180deg) scale(1);
        transform:rotate(180deg) scale(1.5);
    }
    100% {
        -webkit-transform:rotate(360deg) scale(1);
        transform:rotate(360deg) scale(0.5);
    }
}
